
body {
    background-color: whitesmoke;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: rgb(238, 191, 39);
    
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2px solid;
}
input[type='radio']:checked + span,
input[type='radio']:checked + label,
input[type='radio']:checked {
    accent-color: blue;
}